/* You can add global styles to this file, and also import other style files */
body {
    background:rgb(22, 3, 3);
}


.wrapper{
    padding-top:40px;
    padding-bottom:30px;
}
a:hover{
    text-decoration:none;
}


@media only screen and (max-width: 768px) {
.loading{
    margin-top:50%;
    margin-left:45%;
    z-index: 100;
}
}

@media only screen and (min-width: 768px) {
.loading{
    margin-top:25%;
    margin-left:45%;
    z-index: 100;
}
}