
<div class="container">
<div class="pull-right search-div">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control" >
            <button type="submit" id="search-button" class="btn btn-default"><span
                    class="glyphicon glyphicon-search"></span></button>
        </div>

    </form>
</div>
    <div *ngIf="movies" class="wrapper">
  
        <div class="row ">
         
            <div *ngFor="let movie of movies.results" class="col-sm-3 col-md-3  col-xs-10 col-xs-offset-1 data-div">
                <a routerLink="/detail/{{movie.id}}">
                    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster" max-width="200px"
                        min-height="150px" class="img img-responsive " />
                    <div class="movie-list-descrip">
                        <span> released: {{ movie.release_date}} | votes: {{movie.vote_count}}</span>
                    </div>
                </a>
            </div>
     
        </div>
    </div>
</div>