


.movie-list-descrip{
  background:navajowhite;
 width: 100%;
  color:rgb(22, 3, 3);
    text-align:center;
}

@media only screen and (max-width: 768px) {
.data-div {
     margin-top:20px;
  
}
.search-div{
    width: 100%;
  margin-top:60px;
text-align: center;
padding-left: 40px;
padding-right: 40px;

}
}


.form-group{
    display: flex;
}
@media only screen and (min-width: 768px) {
 
.search-div{
    width: 100%;
  margin-top:65px;
  padding-left: 80%;

}
  .data-div{    
    height:450px;
     margin-top:5px;
     
  }
}

.search-div input{
  background: none;
  border: none;
}