.movie-list-descrip{
    text-align:center;
}



@media only screen and (min-width: 456px) {
.data-div {
     margin-top:20px;
  
}
.search-div{
    width: 100%;
  margin-top:60px;
text-align: center;
padding-left: 40px;
padding-right: 40px;
z-index: 100;
}
input{
    size: 6;
}
}


.form-group{
    display: flex;
}
@media only screen and (min-width: 1024px) {
 
.search-div{
    width: 100%;
  margin-top:60px;
  padding-left: 90%;
z-index: 100;
}
  .data-div{    
    height:450px;
     margin-top:5px;
  }
}